

body {
    margin: 60px auto;
    width: 70%;
    font-family:'Computer Modern Serif';
    font-size: 12px;
}
nav ul, footer ul {
    font-family:'Computer Modern Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 4em;
    font-family:'Computer Modern Serif';
}
p {
    font-size: 1.4em;
    line-height: 1.4em;
    color: #333;
    text-align: justify;
    text-justify: inter-word;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

#sketch-holder{
    position: relative;
    float: left;
    margin-right: 25px;
    margin-bottom: 0px;
    margin-top: 5px;
}

#sketch-holder-vicsek{
    position: relative;
    float: right;
    margin-right: 25px;
    margin-bottom: 0px;
    margin-top: 5px;
}

/*.controlRow {
    border-style: solid;
    border-width: thin;
    padding: 5px;
}*/

table, tr, td{
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    padding: 5px;
}

.controlRow [type="text"] {
    position: absolute;
    left: 25%;
    width: 10%;
}



.controlRow [type="range"] {
    position: absolute;
    left: 35%;
    width: 40%;
}

.caption{
    font-size: 14px;
}
