<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="csblog/css/main.css">

			<!--Enabling MathJax-->
			<script type="text/x-mathjax-config">
			  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
			</script>
			<script type="text/javascript" async
			  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
			</script>

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/csblog/">Home</a></li>
	        		<li><a href="/csblog/blog">Blog Posts</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="https://twitter.com/UMICHCS">twitter</a></li>
				<li><a href="https://www.facebook.com/UMCOMPLEXSYSTEMS/">facebook</a></li>
				</ul>
			</footer>
		</body>
	</html>
