<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">

			<!--Enabling MathJax-->
			<script type="text/x-mathjax-config">
			  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
			</script>
			<script type="text/javascript" async
			  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
			</script>

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="/CV__CJM.pdf">CV</a></li>
	        		<!-- <li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:cjmiles@alum.mit.edu">email</a></li>
	        		<li><a href="https://github.com/cjm715">github.com/cjm715</a></li>
				<li><a href="https://twitter.com/UMICHCS">twitter</a></li>
				<li><a href="https://www.facebook.com/UMCOMPLEXSYSTEMS/">facebook</a></li>
				<li><a href="https://scholar.google.com/citations?hl=en&view_op=list_works&gmla=AJsN-F5b2WaEvo1jagoxKmc7WKW4WMDgDlHy7piAPUoew4LwkR8GZgmyqnmdsjd4xu2Ro37Yduw9F5a8pOGPw5Gv5UrCjoEmCQ&user=nLpWYR8AAAAJ">google scholar</a></li>
				</ul>
			</footer>
		</body>
	</html>
